html body {
  margin: 0;
  padding: 0;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.titlebox {
  background-color:  #263238;
  color: white;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 25px;
  }
  .box1{
    background-color:  #1565C0;
  color: white;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 25px;
  }
  .box2{
    background-color:  #42a5f5;
    color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 25px;
  }